<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>About</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="preload" href="./styles/about.css" as="style">
  <link rel="stylesheet" href="./styles/about.css">
</head>
<body>
  <header id="top-container" role="navigation">
    <%- include(process.cwd() + '/app/templates/navigation'); %>
  </header>
  <main id="main-container">
    <p>Hi, I currently work as a Technical Analyst at Goldman Sachs with the Securitized Derivatives Market Making team. 
      </p><br><p>
      I graduated from International Institute of Information Technology, Hyderabad in 2022 with a B.Tech (Hons) in Computer Science and Engineering.
      </p>
  </main>
</body>
</html>
