<nav>
  <a class="logo-link" href="/">
    <h1>Fiza Husain</h1>
    <span><a href="mailto:fizahusain1110@gmail.com" target="_blank" style="color:#378cec;">Email</a>/
      <a href="https://www.linkedin.com/in/fiza-husain-57a387167/" target="_blank" style="color:#378cec;">LinkedIn</a>/
      <a href="https://github.com/fiza11" target="_blank" style="color:#378cec;">GitHub</a>
    </span>
  </a>
  <small>
    <a id="about" class="info-link" href="/about.html">About</a> /
    <!-- <a id="works" class="info-link" href="/works.html">Blog</a> / -->
    <a id="articles" class="info-link" href="/articles.html">Blog</a>
  </small>
</nav>
